
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
*{
    text-align: justify;
    font-family: 'Tinos', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.star{
  color: #24A1FD;
}
.HelpingIcon{
  font-size: 40px;
  color: #EB3349;
  /* margin: auto; */
  /* margin: 50%; */
}
.border-box{
  border: 1px solid rgb(108, 186, 255);
  width: fit-content;
  height: fit-content;
  margin: 4px;
  padding: 4px;
}
p{
  margin: 0px;
  padding: 0px;
}



/* product */

.textp{
  padding: 0px 27px 10px 18px;
  line-height: 1.2;
  width: 35vw;
}
.ton {
  font-size: 1.2rem;
  list-style: none;
  font-weight: 400;
}
.prodimg{
  margin: 5px;
}

/* ----------------carousel -----------------*/
#carouselExampleControls{
  width: 30vw;
  border: 1px solid white;
margin:24px 24px 24px 24px;
  box-shadow: 5px 10px 8px #dddddd;
}
.carousel-control-prev-icon { 
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;

}
.container{
  display: flex;
  flex-direction: row;
}


/* ------------Icon------------------- */
.fa-heart{
  color: #8b8c8c;
}
.redcolor{
color: #EB3349 !important;
}
.wishhover:hover{
  color: #EB3349
}
i.fa-ellipsis{
  display: flex;
  justify-content: center;
  color: #8b8c8c;
}

.goback{
  margin-top: 0.5rem;
  color: #24A1FD;
}
.location{
  margin-top: 0.5rem;
}
table, th, td {
  border: 1px solid rgb(197, 193, 193);
  border-collapse: collapse;
}
th, td {
  padding: 15px 0px 5px 20px;
  text-align: left;
}






