.display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  padding: 2px;
  }

  .container{
    padding: 20px;
  }
  .pagetitle{
    margin-left: 8rem;
  }
  .doubtbtn{
    background-color: #24A1FD;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
  }
  .button {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #24A1FD;
    border-radius: 30px;
  }

  .pricep{
    color: #00ab30;
    font-size: 1.7rem;
    list-style: none;
  }

 .Title{
  margin-left: 5rem;
 }
 .card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  
}
.card_text{
  font-size: large;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.cards_item {
  display: flex;
  padding: 1rem;
  margin-right: 8rem;
  margin-left: 1rem;
}
.enquire{
  color: #24A1FD;
  font-size: large;
}
.middlesection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
padding: 2px;
width: 80%;
margin: auto;
}
.description{
  height: fit-content;
  display: block;
 width: 40%;
 margin-right: 1rem;
}
.table{
  height: fit-content;
  width: 30rem;
 
}
@media (min-width: 40rem) {
  .cards_item {
    width: 60%;
  }
}
@media (max-width: 900px) {
.middlesection{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.card{
  width: 80%;
}
}
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}